---
const {img, text1, text2, text3, text4, link1, link2} = Astro.props
---


<article>
    <img src={img}/>
    <p class="text1">{text1}</p>
    <p class="text2">{text2}</p>
    <p class="text3">{text3}</p>
    <p class="text4">{text4}</p>
    <p>{link1}</p>
    <p>{link2}</p>
</article>
