---
import Button from "../components/Button.astro"
const {img, text1, text2, text3, text4, url, igUrl} = Astro.props
---


<article>
    <img src={img}/>
    <p class="text1">{text1}</p>
    <p class="text2">{text2}</p>
    <p class="text3">{text3}</p>
    <p class="text4">{text4}</p>
    <Button url={url} variant="primary">Go to website</Button>
    <Button url={igUrl} variant="ghost">See Instagram</Button>
    <!-- <a class="link_knap_igUrl" href={igUrl}>See Instagram</a>  -->
</article>
