---
const {img, text1, text2, text3, text4, url, igUrl} = Astro.props
---


<article>
    <img src={img}/>
    <p class="text1">{text1}</p>
    <p class="text2">{text2}</p>
    <p class="text3">{text3}</p>
    <p class="text4">{text4}</p>
    <a href={url}>Go to website</a>
    <a href={igUrl}>See Instagram</a> 
</article>
